<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a class="auth-link" routerLink="/register">Have an account?</a>
        </p>

        <form [formGroup]="signUpForm" (ngSubmit)="submit()">
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Your Name" formControlName="userName">
            <div class="alert alert-danger"
              *ngIf="signUpForm.get('userName')?.dirty && signUpForm.get('userName')?.invalid">
              <span *ngIf="signUpForm.get('userName')?.errors?.['required']">
                Field is required
              </span>
              <span *ngIf="signUpForm.get('userName')?.errors?.['minlength']">
                Field length should be at least:
                {{signUpForm.get('userName')?.errors?.['minlength'].requiredLength}}.
              </span>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email">
            <div class="alert alert-danger"
              *ngIf="signUpForm.get('email')?.dirty && signUpForm.get('email')?.invalid">
              <span *ngIf="signUpForm.get('email')?.errors?.['required']">
                Field is required
              </span>
              <span *ngIf="signUpForm.get('email')?.invalid"> 
                Please enter a correct email.
              </span>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" placeholder="Password" formControlName="token">
            <div class="alert alert-danger" 
            *ngIf="signUpForm.get('token')?.dirty && signUpForm.get('token')?.invalid">
              <span *ngIf="signUpForm.get('token')?.errors?.['required']">
                Field is required
              </span>
              <span *ngIf="signUpForm.get('token')?.errors?.['minlength']">
                Field length should be at least:
                  {{signUpForm.get('token')?.errors?.['minlength'].requiredLength}}.
              </span>
            </div>
          </fieldset>
          <div class="alert">{{auth.formMessage}}</div>
          <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="signUpForm.invalid">
            Sign up
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
